.cart-element-container{
    background-color: rgb(255, 255, 255);
    margin: 50px 0;
    padding: 20px 0;
    box-shadow: 0px 0px 10px rgb(75, 74, 74);
    border-radius: 20px;
    align-items: center;
    position: relative;
}
.cross{
    position: absolute;
    width: max-content;
    top: 0px;
  right: 0px;
}
#shop:hover{
    box-shadow: inset 150px 0 20px  rgb(42, 1, 66);
    color: white;
}
.cartImg{
    width: 200px;
    
}

.cart-element-container{}
@media  screen and (max-width:786px){

    .cartImg-container{
        display: flex;
        justify-content: center;
    }
}
.totalContainer{
    box-shadow: 0px 0px 20px rgb(124, 123, 123);
    border-radius: 20px;
}